.vbox {
    -fx-background-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.vbox > .label {
	-fx-text-fill: white;
}

.menu, .menuItem, .menuBar {
	-fx-text-fill: black;
}